@import url(./fonts/style.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #252237;
}

.container {
    background-image: url(./images/walle.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.iqmo {
    margin: 50px;
}

.c-t {
    display: flex;
    flex-direction: column;
    margin-top: 92px;
    margin-left: 199px;
    gap: 51px;
}

.concept {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 70px;
    line-height: 93%;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #fff;
    width: 352px;
}

.con-t {
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    width: 433px;
}

.course {
    font-family: var(--font3);
    font-weight: 900;
    font-size: 14px;
    line-height: 243%;
    letter-spacing: 0.21em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    width: 367px;
    height: 80px;
    box-shadow: 0 0 55px 0 rgba(202, 0, 80, 0.51);
    background: #e2521d;
}

.eve {
    display: flex;
    margin-left: 194px;
    width: 1073px;
    height: 505px;
}



.ab-c {
    display: flex;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 50px;
    line-height: 124%;
    color: #fff;
}

.red-t {
    margin-top: 80px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 25px;
    line-height: 160%;
    color: #e2521d;
    width: 572px;
}

.g-t {
    margin-top: 25px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 189%;
    color: #8997ab;
}

.learn {
    margin-top: 66px;
    margin-left: 301px;
}

.lh-t {
    margin-left: 175px;
    width: 449px;
    height: 124px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 50px;
    line-height: 124%;
    text-align: center;
    color: #fff;
}

.things {
    margin-top: 88px;
    display: flex;
    justify-content: space-between;
    width: 933px;

}

.b-t {

    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 189%;
    color: #fff;
    width: 412px;
}

.i-t {

    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 189%;
    color: #fff;
    width: 412px;
}

.u-t {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 189%;
    color: #fff;
    width: 412px;
}

.t-t {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 189%;
    color: #fff;
}

.i-th {
    margin-top: 70px;
}

.t-th {
    margin-top: 70px;
}


.program {
    width: 1021px;
    height: 808px;
    margin-left: 210px;
    margin-top: 115px;
}


.p-t {
    width: 314px;
    height: 124px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 50px;
    line-height: 124%;
    text-align: center;
    color: #fff;
    margin-left: 350px;
}

.block {
    border-radius: 2px;
    width: 1021px;
    height: 100px;
    background: #e2521d;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.osnova {
    font-family: var(--third-family);
    font-weight: 600;
    font-size: 15px;
    color: #fff;
}

.s-t {
    margin-top: 30px;
    margin-left: 78px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 189%;
    color: #8997ab;
}

.block-g {
    border-radius: 2px;
    width: 1021px;
    height: 100px;
    background: #0e1b28;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

.for {
    background-image: url(./images/walli.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.f-t {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 50px;
    line-height: 124%;
    text-align: center;
    color: #fff;
}

.for-t {

    margin-left: 683px;
    display: flex;
    flex-direction: column;
}

.g-t2 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 189%;
    color: #8997ab;
    width: 580px;
    margin-top: 50px;
}

.proccess {
    height: 762px;
    margin-left: 269px;
    margin-top: 43px;
    display: flex;
}

.p-text {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 50px;
    line-height: 124%;
    color: #fff;
    margin-left: 500px;
}

.l-t {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 23px;
    color: #fff;
    margin-top: 33px;
}

.l-t2 {
    margin-top: 33px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 189%;
    color: #8997ab;
    width: 470px;
}

.nastavnik {
    margin-top: 62px;
}

.twom2 {
    margin-left: 80px;
}

.zapis {
    width: 1044px;
    height: 274px;
    margin-top: 92px;
    margin-left: 200px;
}

.zakaz {
    width: 1044px;
    height: 177px;
    background: #e2521d;
}

.z-t {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 23px;
    color: #fff;
}


.z-t2 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 189%;
    color: #fff;
}

.ts1 {
    display: flex;
}

.tikers {
    margin-top: 36px;
    display: flex;
    justify-content: space-between;
}

.t1 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 189%;
    color: #fff;
    width: 199px;
}

.line {
    width: 936px;
    height: 1px;
    color: #706470;
    ;
}

.footer {
    margin-top: 89px;
    margin-left: 235px;
    width: 944px;
    height: 516px;
}

.text {
    margin-left: 189px;
    font-family: var(--second-family);
    font-weight: 800;
    font-size: 20px;
    line-height: 140%;
    color: #fff;
}

.s29 {
    color: #fa4682;
}

.s2900 {
    color: rgba(255, 255, 255, 0.5);
}

.email {
    margin-left: 250px;
    margin-top: 86px;
    width: 458px;
    height: 60px;
    background-color: #393C57;
}